/*
 * TFT SPI - ILI9341 240x320
 * Compatible: "ilitek,ili9341"
 * Uses MIPI DBI (SPI mode) interface
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
    aliases {
        accel0 = &fxos8700;
    };

    chosen {
        zephyr,display = &ili9341;
    };

    lvgl_pointer {
        compatible = "zephyr,lvgl-pointer-input";
        input = <&xpt2046>;
        invert-x;
    };

    mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;
        dc-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
        #address-cells = <1>;
        #size-cells = <0>;

        ili9341: ili9341@0 {
            compatible = "ilitek,ili9341";
            reg = <0>;
            mipi-max-frequency = <16000000>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";

            width = <240>;
            height = <320>;
            pixel-format = <0>;
            rotation = <180>;
        };
    };
};

/* I2C0 habilitado para o FXOS8700CQ */
/* &i2c0 { status = "disabled"; }; */
&i2c1 { status = "disabled"; };
&spi0 { status = "disabled"; };
&adc  { status = "disabled"; };

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>,
                <&gpio0 16 GPIO_ACTIVE_LOW>;

    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    /* FXLS8974 substituido pelo FXOS8700CQ (6-axis accel+mag) */
    /* fxls8974: fxls8974@1 {
        compatible = "nxp,fxls8974";
        reg = <1>;
        spi-max-frequency = <4000000>;
        range = <2>;
    }; */

    /* FXOS8700 movido para I2C0 */
    /* fxos8700: fxos8700@1 {
        compatible = "nxp,fxos8700";
        reg = <1>;
        spi-max-frequency = <1000000>;
        range = <2>;
    }; */

    xpt2046: xpt2046@1 {
        compatible = "xptek,xpt2046";
        reg = <1>;
        spi-max-frequency = <2000000>;
        int-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
        touchscreen-size-x = <240>;
        touchscreen-size-y = <320>;
        min-x = <200>;
        min-y = <200>;
        max-x = <3800>;
        max-y = <3800>;
        z-threshold = <100>;
        reads = <3>;
    };
};

&i2c0 {
    compatible = "nordic,nrf-twim"; /* TWIM com EasyDMA (substitui nrf-twi legado) */
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; /* 100 kHz */

    fxos8700: fxos8700@1e {
        compatible = "nxp,fxos8700";
        reg = <0x1e>;
        range = <2>;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 12)>,
                    <NRF_PSEL(SPIM_MISO, 0, 13)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 12)>,
                    <NRF_PSEL(SPIM_MISO, 0, 13)>;
            low-power-enable;
        };
    };
};
